.Navbar{
    font-weight: 600;
    margin-left: 12%;
    margin-top: 2.5%;
    font-size: 22px;
}

.nav{
    margin-left: 0.5%;
    text-decoration: none;
    color: #d5d9df;
    padding: 0.5% 2%;
    border-radius: 10px;
}

.nav:hover{
    background-color: #a9aeb429;
}

.nav:active{
    background-color: #a1a5aa62;
} 