@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.Navbar{
    font-weight: 600;
    margin-left: 12%;
    margin-top: 2.5%;
    font-size: 22px;
}

.nav{
    margin-left: 0.5%;
    text-decoration: none;
   /*  font-family: 'Roboto', sans-serif; */
    color: #d5d9df;
    transition: transform 1000ms ease;
    padding: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 10px;
}

.nav:hover{
    transform: scale(1.1);
    background-color: #a9aeb429;
}

.nav:active{
    transform: scale(0.98);
    background-color: #a9aeb476;
} 